@model Services.DTOs.RecipeDTO

<div>
	<h2>@Model.Name</h2>
	<table>
		<thead>
			<tr>
				<th>Prep Time</th>
				<th>Cook Time</th>
				<th>Yields</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.PrepTime</td>
				<td>@Model.CookTime</td>
				<td>@Model.Yield</td>
			</tr>
		</tbody>
	</table>
	<h3>Ingredients</h3>
	@foreach (var component in Model.IngredientsByComponent)
	{
		@if (component.Key != string.Empty)
		{
			<h4>For @component.Key</h4>
		}
		<ul>
			@foreach (var ingredient in component.Value)
			{
				<li>@ingredient.Quantity @ingredient.Name @(ingredient.Measurement == Database.Entities.Measurement.Unit ? string.Empty : ingredient.Measurement)</li>
			}
		</ul>
	}
	<h3>Instructions</h3>
	<ol>
		@foreach (var instruction in Model.Instructions)
		{
			<li>@instruction</li>
		}
	</ol>
	<h5>Notes</h5>
	<ol>
		@foreach (var note in Model.Notes)
		{
			<li>@note</li>
		}
	</ol>
</div>