@model Services.DTOs.RecipeDTO


<div>
	<table>
		<thead>
			<tr>
				<th>Prep Time</th>
				<th>Cook Time</th>
				<th>Yields</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.PrepTime</td>
				<td>@Model.CookTime</td>
				<td>@Model.Yield</td>
			</tr>
		</tbody>
	</table>
	<h3>Ingredients</h3>
	@foreach (var component in Model.IngredientsByComponent)
	{
		@if (component.Key != string.Empty)
		{
			<h4>For @component.Key</h4>
		}
		<ul>
			@foreach (var ingredient in component.Value)
			{
				<li>@ingredient.Name</li>
			}
		</ul>
	}
	<h3>Instructions</h3>
	<ol>
		@foreach (var instruction in Model.Instructions)
		{
			<li>@instruction</li>
		}
	</ol>
	<h5>Notes</h5>
	<ol>
		@foreach (var note in Model.Notes)
		{
			<li>@note</li>
		}
	</ol>
</div>





@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yield)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@